.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--inverted-primary-color);
  background: var(--inverted-bg-color);
  border: none;
  outline: none;
  cursor: pointer;
}

.clear {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}

.outlined {
  padding: 10px 15px;
  color: var(--primary-color);
  background: none;
  border: 1px solid var(--primary-color);
}

.disabled {
  opacity: 0.5;
}

.medium {
  min-width: var(--font-line-m);
  min-height: var(--font-line-m);
}

.large {
  min-width: var(--font-line-l);
  min-height: var(--font-line-l);
}

.x-large {
  min-width: var(--font-line-xl);
  min-height: var(--font-line-xl);
}

.wrapper {
  min-width: 100%;
  min-height: 100%;
}
