.orange-theme {
  --bg-color: #faf4fb;
  --inverted-bg-color: #bd5012;
  --primary-color: #9a1a0e;
  --secondary-color: #d01f0e;
  --inverted-primary-color: #ffdc82;
  --inverted-secondary-color: #faf4fb;
}
