.wrapper {
  position: relative;
}

.code-block {
  max-width: 100% !important;
  margin-top: 30px;
  padding: 30px;
  overflow: auto;
  background: var(--code-bg);
  border: 1px solid var(--primary-color);
}

.copy-btn {
  position: absolute;
  top: 5px;
  right: 5px;
}
