.link {
  margin: 0 5px;
  color: var(--inverted-primary-color);
  text-decoration: none;
}

.primary {
  color: var(--inverted-primary-color);
}

.secondary {
  color: var(--inverted-primary-color);
}
